.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0;
    padding-bottom: var(--tg-bottom);
    background-color: rgba(18, 18, 18, 1);
    z-index: 15;
    height: calc(60px + var(--tg-bottom));
}

.navInner {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-inline: 16px;
}

.navItem {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;

    .navItemSvgBlock {
        aspect-ratio: 1;
    }

    svg path {
        transition: 0.1s ease-in-out;
    }

    .navItemName {
        color: #474646;
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        transition: color 0.1s ease-in-out;
    }
}

.activeNavItem {
    @extend .navItem;

    svg path {
        transition: 0.1s ease-in-out;
        fill: white;
    }

    .navItemName {
        color: white;
    }
}
